<h1 class="cake_page_title">Our Signature Bakes</h1>
<div class="cake_image_wrapper">

  <div class="goods_wrapper">
    <% @cake_array.each do |x| %>
    <div class='cake_card'>
      <img height= "190px" src=<%= x.image %> >
      <p class="cake_name"><%= x.name %></p>
      <p class="description"><%= x.description %></p>
      <!-- <p>$<%= x.price %></p> -->
    </div>
    <% end %>
  </div>
</div>
