<h1>Cakes</h1>

<div class="goods_wrapper">
  <div><img class='cake' width='200px'src=<%= @cake1.url %> </div>
  <div><img class='cake' width='200px' src=<%= @cake2.url %> </div>
  <div><img class='cake' width='200px' src=<%= @cake3.url %> </div>
  <div><img class='cake' width='200px' src=<%= @cake4.url %> </div>
</div>
