<h1 class="contact_page_title">Contact</h1>
<div class="contact_image">
  <div class="contact_wrapper">
    <form method="post" action="https://formspree.io/jspeed8th@gmail.com" name="Jordan's Bakery & Co">
      <input class="subject" type="text" name="subject" placeholder='subject line'>
      <textarea class="body" name="body"></textarea>
      <input class="email" type="text" name="email" placeholder='email address'>
      <input class="submit" type="submit">
    </form>
  </div>
</div>
