
<div class="contact_image">
  <div class="contact_wrapper">
    <h2 class="contact_message">contact us if you like: </h2>
    <form method="post" action="/email">
      <input class="subject" type="text" name="subject" placeholder='subject line'>
      <textarea class="body" name="body"></textarea>
      <input class="email" type="text" name="email" placeholder='email address'>
      <input class="submit" type="submit">
    </form>
  </div>
</div>
