<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bakery</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Lora" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
        <a class="company_name" href="/"> <li>jordan's bakery & co</li> </a>
        <div class="main_links">
          <a class="links" href="/shop"> <li> shop </li> </a>
          <a class="links" href="/aboutus"> <li> about us </li> </a>
          <a class="links" href="/contact"> <li> contact </li> </a>
        </div>
        <div class="social_media">
          <a class="links" href="#"> facebook </a>
          <a class="links" href="#"> twitter </a>
          <a class="links" href="#"> instagram </a>
        </div>
    </nav>

    <div class="main_container">
      <%= yield %>
    </div>

    <footer></footer>


    <script type="text/javascript" src="../javascript/javascript.js">

    </script>
  </body>
</html>
