
<div class="image_wrapper">
  <a href="/cakes">
    <div class="cakes indiv_wrapper">
      <h2 class="shop_title">gâteaux</h2>
    </div>
  </a>
  <a href="/cookies">
    <div class="cookies indiv_wrapper">
      <h2 class="shop_title"> biscuits </h2>
    </div>
  </a>
  <a href="/muffins">
    <div class="muffins indiv_wrapper">
      <h2 class="shop_title"> muffins </h2>
    </div>
  </a>
</div>
