
<div class="image_wrapper">
  <a href="/cakes">
    <div class="cakes indiv_wrapper">
      <h1 class="testing">cakes</h1>
    </div>
  </a>
  <a href="/cookies">
    <div class="cookies indiv_wrapper">
      <h1> cookies </h1>
    </div>
  </a>
  <a href="/muffins">
    <div class="muffins indiv_wrapper">
      <h1> muffins </h1>
    </div>
  </a>
</div>
