.aboutus_page_title {
  @include goods_header();
}

.aboutus_image_wrapper {
  position: relative;
  padding-top: 44px;
  background-image: url('../../img/extra.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
  height: $secondary-image-height;
}

.aboutus_image_wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
}

.aboutus_card {
  position: absolute;
  top: 70px;
  left: 36%;
  padding-top: 20px;
  padding: 0 10px;
  margin: 0 auto;
  height: 430px;
  // width: 30%;
  width: 380px;
  border-radius: 3px;
  background-color: rgba(227, 227, 227, .85);
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .aboutus_card {
    left: 28%;
  }
}

@media only screen and (max-width: 530px) {
  .aboutus_card {
    left: 13%;
  }
}
