.cake_image_wrapper {
  position: relative;
  padding-top: 44px;
  background-image: url('../../img/cakeImage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 601px;
}

.cake_image_wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
}

.cake_page_title {
  @include goods_header();
}

.goods_wrapper {
@include goods_wrapper();
}


.cake_card {
@include card_styling();
}

img{
  border-radius: 5px 5px 0 0;
  margin: 0;
  margin-bottom: -4px;
  margin-top: 10px;
  width: 300px;
}

.description {
  font-size: 14px;
  padding: 5px 10px;
  margin: 0 auto;
}

.cake_name {
  background-color: #e5e5e5;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}
