.cookie_page_title {
  @include goods_header();
}

.cookie_image_wrapper {
  position: relative;
  padding-top: 44px;
  background-image: url('../../img/cookieImage2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: $secondary-image-height;
}

.cookie_image_wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
}

.goods_wrapper {
@include goods_wrapper();
}

.cake_image_wrapper {
  background-color: grey;
}

.cookie_card {
  @include card_styling();
}

img{
  @include images_specs();
}

.cookie_name {
  @include card_titles();
}

.description {
  font-size: 14px;
  padding: 5px 10px;
  margin: 0 auto;
}
