@mixin render_image($path) {
  background-image: url($path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200% 100%;
}

@mixin goods_images($path) {
  background-image: url($path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
