@mixin render_image($path) {
  background-image: url($path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200% 105%;
}

@mixin goods_images($path) {
  background-image: url($path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin goods_header() {
  font-family: 'Great Vibes', cursive;
  border-top: 1px dotted #e2cdbe;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-size: 2em;
  letter-spacing: 3px;
}

@mixin card_styling() {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 370px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .95);
}

@mixin goods_wrapper() {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  width: 94%;
  margin: 0 auto;
  margin-top: 50px;
  overflow: scroll;
  border-radius: 5px;
  height: 370px;
}

@mixin card_titles() {
  background-color: #e0d6ce;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

@mixin images_specs() {
  border-radius: 5px 5px 0 0;
  margin: 0;
  margin-bottom: -4px;
  margin-top: 10px;
  width: 260px;
  height: 160px;
}
