.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.main_links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.social_media .links {
  font-size: 12px;
}

.social_media {
  padding-top: 19px;
  word-spacing: 10px;

}

li {
  list-style-type: none;
  display: block;
  padding: 20px 0;
}

.company_icon {
  padding: 20px 0;
}

.links, .company_name {
  text-decoration: none;
  color: black;
}

.links :hover {
  transition: .2s;
  background-color: gray;
  color: white;
}
