.image_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: $main-image-height;
  background-color: black;
}

.indiv_wrapper {
  text-align: center;
  position: relative;
  height: 100%;
  opacity: .85;
}

.indiv_wrapper:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
}

.indiv_wrapper:hover {
  transition: .2s;
  opacity: 1;
}

.shop_title {
  color: #FFF;
  position: relative;
  display: inline-block;
  margin-top: 240px;
  font-size: 2.5rem;
  letter-spacing: .2em;
}

.cakes {
  @include render_image('../../img/shopImages/cake.jpg');
}

.cookies {
    @include render_image('../../img/shopImages/cookies.jpg');
  }

.muffins {
  @include render_image('../../img/shopImages/muffins.jpg');
}

@media only screen and (max-width: 600px) {
  .shop_title {
    font-size: 1.5rem;
  }
}
